@import "src/styles/helpers/variables";

.ve-dialog {
  &__card {
    max-width: 520px;
    box-shadow: $box-shadow-lg;
  }

  &__body {
    padding: $padding-base !important;
  }

  .ve-button {
    text-transform: uppercase !important;
    font-weight: 500;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
