.font-sans {
  font-family: $font-sans;
}

.font-serif {
  font-family: $font-family-serif;
}

.font-mono {
  font-family: $font-family-monospace;
}

.font-cursive {
  font-family: $font-family-cursive;
}

.font-base {
  font-family: $font-family-base;
}
